/*---------------------------------------------------------
 * Layout
---------------------------------------------------------*/
.content__wrapper,
.inner,
.row,
.col {
  position: relative;
  overflow: hidden;
  background-color: transparent;
}
.content__wrapper {
  max-width: 1265px;
  margin: 0 auto;
  z-index: 1;
  padding: 0 1em;
}
.inner {
  z-index: 2;
}
.row {
  z-index: 4;
}
.col {
  float: left;
  z-index: 5;
}
.col__full {
  width: 100%;
}
.col__2-3 {
  width: 66.66%;
}
.col__1-3 {
  width: 33.33%;
}
.col__1-2 {
  width: 100%;
  float: none;
  @include media-query(768px) {
    width: 50%;
    float: left;
  }
}
.col__1-4 {
  width: 25%;
}
.col__1-8 {
  width: 12.5%;
}
