/*---------------------------------------------------------
 * Alignment
---------------------------------------------------------*/
.alignnone {
  margin: 5px 1.5em 1.5em 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 1.5em 1.5em;
}

.alignleft {
  float: left;
  margin: 5px 1.5em 1.5em 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 1.5em 1.5em;
}

a img.alignnone {
  margin: 5px 1.5em 1.5em 0;
}

a img.alignleft {
  float: left;
  margin: 5px 1.5em 1.5em 0;
}

a img.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
