/*---------------------------------------------------------
 * WP Caption
---------------------------------------------------------*/
.wp-caption {
  margin: 0.5em 0;
  max-width: 100%;
  padding: 0;
  border: none;
  background: transparent;
}
.wp-caption-text {
  text-align: left;
  padding: 2em 0 0.5em 0;
  @include font-size(14);
}