// Colors
//================================================================================
// text colors
$color__font: #231f20;
$color__header: #4e917a;
$color__link: #4e917a;
$color__link--hover: darken(#4e917a, 15%);

// color pallete
$maroon: #4f4c4d;
$dark-yellow: #4d917b;
$light-brown: #4e9a7f;
$dark-grey: #4f4c4d;
$light-blue: #f3f3f4;
// Typography
//================================================================================
$font-size__base: 17;
// The default font family.
$font-family__base: sans-serif !default;
// Header sizes
$h1-font-size: 2    * $font-size__base !default;
$h2-font-size: 1.5  * $font-size__base !default;
$h3-font-size: 1.17 * $font-size__base !default;
$h4-font-size: 1    * $font-size__base !default;
$h5-font-size: 0.83 * $font-size__base !default;
$h6-font-size: 0.67 * $font-size__base !default;

// Layout
//================================================================================
$gutter: 1em;