/*---------------------------------------------------------
 * Base
---------------------------------------------------------*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  @include font-size($font-size__base);
  color: $color__font;
  background-color: $light-blue;
  background-image: url(images/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 608px 137px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}
@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) { 
  body {
    background-image: url(images/footer-bg@2.png);
  }
}
.main {
  position: relative;
  background-color: #fff;
  padding-bottom: 3em;
}