/*---------------------------------------------------------
 * Buttons
---------------------------------------------------------*/
.button__one {
  @include font-size(19);
  margin: 3em 0 4em;
  display: block;
  width: 288px;
  font-weight: bold;
  text-align: center;
  a {
    background-color: #f4a790;
    padding: 1em 0;
    width: 100%;
    color: $color__font;
    text-decoration: none;
    display: inline-block;
    transition: background-color 1s ease;
    &:hover {
      transition: background-color 1s ease;
      background-color: darken( #f4a790, 10% );
    }
  }
  &.centered {
    margin: 3em auto;
  }
  &.right {
    float: right;
  }
  &.left {
    float: left;
  }
}