/**--------------------------------------------------------
 * Clients
 *---------------------------------------------------------*/
.clients {
  max-width: 1265px;
  margin: 0 auto;
  padding: 0 1em;
  .row {
    margin-bottom: 0;
    display: table;
    width: 100%;
    @include media-query(769px) {
      margin-bottom: 2em;
    }
  }
}
.client {
  padding: 0 0.5em;
  margin-bottom: 1em;
  display: block;
  height: auto;
  float: none;
  @include media-query(769px) {
    display: table-cell;
    vertical-align: middle;
  }
  .inner {
    padding: 1em;
  }
}
.client__logo {
  text-align: center;
}
.client__name {
  @include font-size(18);
  padding-left: 2em;
  a {
    text-decoration: none;
    color: #231f20;
  }
}