/**--------------------------------------------------------
 * Clients
 *---------------------------------------------------------*/
.clients {
  max-width: 1265px;
  margin: 0 auto;
  padding: 0 1em;
  .row {
    margin-bottom: 2em;
  }
}
.client {
  padding: 0 0.5em;
  margin-bottom: 1em;
  .inner {
    padding: 1em;
  }
}
.client__name {
  @include font-size(18);
  padding-left: 2em;
  a {
    text-decoration: none;
    color: #231f20;
  }
}