/*---------------------------------------------------------
 * Entries
---------------------------------------------------------*/
.homepage {
  .entry__profile-image {
    float: right;
  }
  .entry__content {
    padding-right: 0;
    @include media-query(768px) {
      padding-right: 7em;
    }
  }
}
.entry {
  padding: 3em 0;
}
.entry__profile-image {
  margin-bottom: 4em;
  @include media-query(768px) {
    margin-bottom: 0;
  }
  img {
    display: block;
  }
  a {
    text-decoration: none;
    color: $color__font;
  }
}
.entry__date {
  margin-bottom: 01em;
  margin-top: -2.5em;
}
.page__heading {
  margin-bottom: 1.5em;
}
.menu {
  background-color: #f4a790;
  float: right;
  display: none;
  @include media-query(1024px) {
    display: block;
  }
  ul {
    padding: 1em 10em 1em 2em;;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    li {
      float: left;
      padding: 0 10px;
      border-right: 1px solid;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
        border-right: none
      }
      a {
        color: $color__font;
        padding: 1em 0;
        text-decoration: none;
        &:hover {
           color: lighten($color__font, 15%);
        }
      }
    }
  }
}
.page-template,
.page-template-default,
.single {
  .top {
    clear: both;
    max-width: 900px;
  }
  .page__header {
    margin: 2em 0;
    text-align: center;
    @include media-query(1024px) {
      margin: 2em 0 4em;
    }
  }
  .page__heading {
    margin-bottom: 0;
  }
}
.page-template {
  .top {
    clear: both;
    max-width: 100%;
    padding: 0;
  }
}
.pagination {
  margin: 3em 0 0;
  .button__one.right {
    float: none;
    margin: 0 auto 1em;
    @include media-query(640px) {
      float: right;
      margin: 0;
    }
  }
  .button__one.left {
    float: none;
    margin: 0 auto  1em;
    @include media-query(640px) {
      float: left;
      margin: 0;
    }
  }
}
.list__custom {
  background-color: $light-blue;
  padding: 1em 3em;
  p {
    margin: 0;
    font-weight: bold;
  }
  ul {
    margin: 1em 0 0;
    padding: 0;
    li {
      padding: 0.5em;
      background-color: #fff;
      margin-bottom: 1em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.case-studies__subtitle {
  &.one {

  }
  &.two {
    @include font-size(30);
  }
}