/*---------------------------------------------------------
 * Links
---------------------------------------------------------*/
a {
  color: $color__link;
  transition: color 1s ease;
  &:hover {
    transition: color 1s ease;
    color: $color__link--hover
  }
}