/*---------------------------------------------------------
 * Footer
---------------------------------------------------------*/
.footer {
  padding: 3em 1em 0;
  height: 185px;
  .button__one {
    margin: 0 auto 3em;
    float: none;
    @include media-query(600px) {
      float: right;
      margin: 0;
    }
  }
}
.company_info {
  width: 270px;
  float: none;
  color: #6d6e71;
  margin: 0 auto 2em;
  @include font-size(19);
  @include media-query(600px) {
    float: left;
    margin: 0;
  }
  p {
    margin-bottom: 5px;
  }
  a {
    color: #6d6e71;
    text-decoration: none;
    &:hover {
      color: darken(#6d6e71, 15%);
    }
  }
  ul {
    padding: 0;
    margin-top: 0;
    list-style-type: none;
    overflow: hidden;
    li {
      float: left;
      padding: 0 10px;
      border-right: 1px solid;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
        border-right: none
      }
      a {
        padding: 0.5em 0;
      }
    }
  }
}