/*---------------------------------------------------------
 * Header
---------------------------------------------------------*/
.header {
  height: 170px;
  @include media-query(1024px) {
    height: 400px;
  }
  .content__wrapper {
    transform-style: preserve-3d;
    position: relative;
    height: 100%;
  }
  .page__header {
    color: #fff;
    @include font-size(16);
    height: 90px;
    float: right;
    display: none;
    margin-right: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    @include media-query(1024px) {
       display: block;
       margin-right: 25em;
    }
    .page__heading {
      color: #fff;
      margin-bottom: 0;
    }
  }
}
.header {
  background-color: $dark-grey;
  background-image: url(images/header-bg.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 321px 170px;
  @include media-query(1024px) {
    background-size: 755px 400px;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) { 
  .header {
    background-image: url(images/header-bg@2.png);
  }
}
.header__green {
  background-color: $light-brown;
  background-image: url(images/header-bg-sub.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 321px 170px;
  @include media-query(1024px) {
    background-size: 755px 400px;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) { 
  .header__green {
    background-image: url(images/header-bg-sub@2.png);
  }
}